.container {
  width: 300px;
  margin: auto;
}

label {
  display: block;
}

input {
  width: 100%;
}

.custom-input {
  padding-bottom: 2%;
}

.custom-input-error label {
  color: red;
}

.custom-input-error input {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}

.width-auto {
  width: auto;
}

.flex {
  display: flex;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
